<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ressource_management</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ressource_management/style.css' %}">
</head>
<body>
    <header>
        <a class="logout" href="{% url 'authentication:logout' %}"><button>Deconnexion</button></a>
        <div class="username">{{ user }}</div>
    </header>
    <main>
        <fieldset>
            <legend><h1>Détail {{ ressource.label }}</h1></legend>
            <div>type : {{ ressource.type }}</div>
            <div>localisation : {{ ressource.localization }}</div>
            <div>capacité : {{ ressource.people_capacity }} personnes</div>
        </fieldset>
    </main>
    <footer></footer>
</body>
</html>
