<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ressource_management</title>
</head>
<body>
    <a href="{% url 'authentication:logout' %}"><button>Deconnexion</button></a>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Modifier">
    </form>
    <a href="{% url 'ressource_management:delete' ressource.id %}"><button>Supprimer la ressource</button></a>
</body>
</html>
