<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout resssource</title>
</head>
<body>
    <form action="{% url 'ressource_management:add_ressource' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Ajout d'une ressource</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <label for="label">Label</label></br>
            <input type="text" name="label" id="label"></br></br>
            <label for="type">Type</label></br>
            <input type="text" name="type" id="type"></br></br>
            <label for="localization">Localisation</label></br>
            <input type="text" name="localization" id="localization"></br></br>
            <label for="people_capacity">Capacité</label></br>
            <input type="number" name="people_capacity" id="people_capacity"></br></br>
        </fieldset>
        <input type="submit" value="Ajouter">
    </form>
</body>
</html>