<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ressource_management</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ressource_management/style.css' %}">
</head>
<body>
    {% if ressource_list %}
    <ul>
    {% for ressource in ressource_list %}
        <li><a href="{% url 'ressource_management:detail' ressource.id %}">{{ ressource.label }}</br>{{ ressource.type }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No ressource_management are available.</p>
    {% endif %}
</body>
</html>
