<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout resssource</title>
</head>
<body>
    <a href="{% url 'authentication:logout' %}"><button>Deconnexion</button></a>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Ajout d'une ressource</h1></legend>
            {{ form.as_p }}
        </fieldset>
        <input type="submit" value="Ajouter">
    </form>
</body>
</html>