<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>connexion</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/style.css' %}">
</head>
<body>
    <main>
        <form method="POST"> 
            {% csrf_token %}
            <fieldset>
                <legend><h1>Connexion</h1></legend>
                {{ form.as_p }}
                <input type="submit" name="sumbit"> 
            </fieldset>
        </form>
        <div class="bottom-form">
            <span>Pas encore inscrit ?</span>
            <a href="{% url 'authentication:register' %}"><button>Inscription</button></a>
        </div>
    </main>
</body>
</html>
